[defaults]

# Specify the default location for the inventory file
inventory = hosts							

# defines the SSH username that Ansible will use when connecting to the remote machine.
remote_user = vagrant	

# specifies the private SSH key that Ansible should use when authenticating to the remote host						
private_key_file = /home/arnold/.vagrant.d/insecure_private_keys/vagrant.key.rsa

# Set to False to disable SSH host key checking
host_key_checking = False						

# Defines where Ansible looks for roles
roles_path = roles							
